.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
}
.hero-left{
    margin-top: 120px;
}
.hero-start, .hero-middle, .hero-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-item {
    gap: 20px;
}

.hero-text, .hero-add-text, .hero-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.hero-text {
    padding: 30px 0;
}
.hero-title {
    font-size: 54px;
    font-weight: 400;
    line-height: 65px;
    text-align: left;
    width: 798px;
    padding: 0 0 40px;
}

.hero-middle {
    padding: 0 0 30px;
}

.hero-add-text {
    width: 245px;
}

.hero-link {
    width: 300px;
    padding: 23px 25px;
    border-radius: 59px;
    box-shadow: 0px 3px 0px;
    background-color: rgba(65, 142, 139, 1);
    color: white;
    letter-spacing: 0.01em;
}
.hero-link:hover,
.hero-link:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 30px transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #82fff3;
  }
}


.hero-foot-item {
    padding: 40px 0 0;
}

.hero-foot-text {
    padding: 0 20px 23px;
}
.hero-foot-img {
    position: absolute;
    top: 160px;
    right: 0;
    width: 800px;
    z-index: -1;
}

@media only screen and (max-width: 1000px) {
    .hero-text {
        font-size: 16px;
    }
    .hero-title {
        font-size: 45px;
        font-weight: 400;
        line-height: 55px;
        text-align: left;
        width: 758px;
    }
    .hero-add-text {
        font-size: 16px;
    }
    .hero-foot-img {
        display: none;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    .hero-text {
        font-size: 14px;
    }
    .hero-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 45px;
        text-align: left;
        width: 508px;
    }
    .hero-add-text {
        font-size: 14px;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 576px) {
    .hero-text {
        font-size: 12px;
    }
    .hero-title {
        font-size: 28px;
        font-weight: 400;
        line-height: 49px;
        text-align: left;
        width: 360px;
        text-align: center;
    }
    .hero-add-text {
        display: none;
    }
    .hero-item-img {
        display: none;
    }
    .hero-text {
        display: none;
    }
    .hero-start-img {
        display: none;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 376px) {
    .hero-title {
        font-size: 26px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
        width: 290px;
        text-align: center;
    }
    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

