.accordion-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}
.accordion-title {
    color: #333333;
    font-size: 36px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    text-align: center;
    padding: 15px 0px;
}
.accordion-item {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}  
.accordion-item-title {
    font-size: 18px;
    color: #333333;
    font-weight: 300;
    font-family: 'Gilroy';
}
.accordion-content {
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    color: #666;
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}
.accordion-icon {
    right: 20px;
    top: 0px;
    background: #56b4b0;
    width: 35px;
    height: 35px;
    font-size: 48px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}
.accordion-div {
    width: 100%;
}

@media only screen and (max-width: 968px) {
    .accordion-title {
        font-size: 32px;
    }
    .accordion-icon {
        width: 32px;
        height: 32px;
        font-size: 44px;
    }
}
@media only screen and (max-width: 767px) {
    .accordion-title {
        font-size: 28px;
    }
    .accordion-icon {
        width: 27px;
        height: 27px;
        font-size: 35px;
    }
}
@media only screen and (max-width: 576px) {
    .accordion-title {
        font-size: 23px;
    }
    .accordion-icon {
        width: 22px;
        height: 22px;
        font-size: 29px;
    }
}
@media only screen and (max-width: 375px) {
    .accordion-title {
        font-size: 18px;
    }
    .accordion-icon {
        width: 14px;
        height: 14px;
        font-size: 12px;
    }
}


  