.container {
    max-width: 1200px;
    padding: 0 auto;
    margin: 0 auto;
}
.main-title {
    color: #333333;
    font-size: 36px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    text-align: center;
    padding: 70px 0px;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: space-between;
}
.main-item {
    width: 350px;
    background-color: #f6f3f3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0px 10px 60px;
    padding: 30px;
}
.main-text-top {
    padding: 15px;
    background-color: rgba(65, 142, 139, 1);
    color: white;
    border-radius: 8px;
    font-family: 'Gilroy',Arial,sans-serif;
    font-size: 32px;
    font-weight: 800;
    position: relative;
    left: 5px;
    bottom: 50px;
}
.main-text-middle {
    color: #333333;
    font-size: 24px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    padding: 15px 0px ;
}
.main-text-foot {
    color: #444444;
    font-size: 15px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    width: 260px;
}

@media only screen and (max-with: 968px) {
    .main-title {
        font-size: 32px;
    }
    .main-item {
        width: 300px;
    }
}
@media only screen and (max-with: 767px) {
    .main-title {
        font-size: 28px;
    }
}
@media only screen and (max-with: 567px) {
    .main-title {
        font-size: 23px;
    }
    .main-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-with: 375px) {
    .main-title {
        font-size: 18px;
    }
    .main-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

