.adress-container {
    max-width: 1200px;
    padding: 0 auto;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #333333;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
}
.adress-list-two, .adress-list-three {
    display: flex;
    gap: 20px;
    align-items: center;
}
.adress-link {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.35;
    font-weight: 700;
    background-position: center center;
    border-color: transparent ;
    border-style: solid;
    &:hover {
        color: rgba(65, 142, 139, 1);
    }

}
.adress-icon-link {
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 968px) {
    .adress-list-two {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .adress-list-three {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 767px) {
    .adress-list-two {
        display: flex;
        flex-direction: column;
    }
    .adress-list-three {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 576px) {
    .adress-list-two {
        display: flex;
        flex-direction: column;
    }
    .adress-list-three {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 375px) {
    .adress-list-two {
        display: flex;
        flex-direction: column;
    }
    .adress-list-three {
        display: flex;
        flex-direction: column;
    }
}
