.section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}
.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-title {
    color: #000000;
    font-size: 36px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    border-color: transparent ;
    padding: 60px 0px 45px;
    text-align: center;
}
.section-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-box {
    display: flex;
    gap: 30px;
}
.section-img {
    width: 655px;
}
.sec-top-title {
    color: #000000;
    font-size: 22px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    padding: 0px 0px 20px;
}
.sec-foot-title {
    color: #000000;
    font-size: 22px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    padding: 0px 0px 20px;
}
.sec-top-text, .sec-foot-text {
    color: #000000;
    font-size: 16px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    text-align: center;
}
.sec-top {
    margin: 0px 0px 40px;
}

@media only screen and (max-width: 968px) {
    .section-title {
        font-size: 32px;
        max-width: 700px;
        text-align: center;
    }
    .section-img {
        width: 550px;
    }
    .section-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .sec-foot-title {
        font-size: 20px;
        text-align: center;
    }
    .sec-top-title {
        font-size: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .section-title {
        font-size: 27px;
        max-width: 490px;
        text-align: center;
    }
    .section-img {
        width: 470px;
    }
}
@media only screen and (max-width: 576px) {
    .section-title {
        font-size: 23px;
        max-width: 360px;
    }
    .section-img {
        width: 310px;
    }
    .sec-foot-title {
        font-size: 18px;
    }
    .sec-top {
        margin: 0px 0px 20px;
    }
}
@media only screen and (max-width: 375px) {
    .section-title {
        font-size: 18px;
        max-width: 270px;
    }
    .section-img {
        width: 250px;
    }
    .sec-foot-title {
        font-size: 16px;
    }

}
