.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #d3eaea;
    border-radius: 15px;
    padding: 20px 60px;
}
.footer {
    margin: 80px 0px;
}
.footer-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-title {
    color: #333333;
    font-size: 40px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.35;
    font-weight: 500;
    width: 241px;
    padding-bottom: 20px;
}
.footer-text {
    color: #333333;
    font-size: 16px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 241px;
}
.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-input {
    color: rgb(51, 51, 51);
    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(191, 241, 197);
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    height: 55px;
    padding: 20px 100px 20px 20px;
    margin: 10px 0px;
    border: none;
}
.footer-btn {
    margin-top: 10px;
    width: 285px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    height: 55px;
    text-align: center;
    background-color: rgba(65, 142, 139, 1);
    color: white;
    border: none;
}
.footer-btn:hover,
.footer-btn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 30px transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #82fff3;
  }
}

@media only screen and (max-width: 968px) {
    .footer-title {
        font-size: 35px;
    }
    .footer-text {
        display: none;
    }
    .footer-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 767px) {
    .footer-title {
        font-size: 30px;
    }
}
@media only screen and (max-width: 576px) {
    .footer-title {
        font-size: 25px;
    }
}
@media only screen and (max-width: 375px) {
    .footer-title {
        font-size: 20px;
    }
}