.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}
.slider-img {
    width: 300px;
}
.slider-title {
    color: #333333;
    font-size: 36px;
    font-family: 'Gilroy',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    text-align: center;
    padding: 40px 0px;
}